@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-10: #121214;
  --dark-20: #F3F7FF;
  --dark-30: #FFFFFF;
  --dark-40: #434346; 

  --font-primary: "Archivo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  color: var(--dark-10);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
